html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--sky-400);
}

.navbar {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 9999;
	box-shadow: rgba(0, 82, 224, 0.1) 0px 6px 12px 0px;
}

/* Smaller input boxes */
input.form-control {
	margin: 0 auto;
	padding: 10px;
	font-size: 0.9rem;
}

/* Card styling - make the cards smaller and rectangular */
.card {
	width: 100%;
	max-width: 500px; /* Limit the card width */
	border-radius: 15px; /* Add rounded corners */
	overflow: hidden; /* Prevent content from overflowing the card */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */

	.btn {
		transition: background-color 0.3s ease, transform 0.3s ease;
	}
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center; /* Center-align content */
	padding: 15px;
	position: relative;

		p {
			font-size: 20px;
			margin-bottom: 15px;
		}
	}

	.card-image {
		width: 150px; /* Set the size of the image */
		height: auto; /* Maintain the aspect ratio */
		margin: 10px auto; /* Center the image vertically and horizontally */
		display: block;
		object-fit: contain; /* Ensure the image fits well */
		border-radius: 10px; /* Optional: Add rounded corners */

		&.bottom {
			margin-top: auto; /* Push the image to the bottom */
		}
	}
}
