html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--sky-400);
}


.navbar {
	position: sticky;
	background-color: rgba(135, 206, 235, 0.8) !important;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.navbar-nav li:hover
{
	color: black;
	text-shadow: 1px 1px 1px var(--mario-yellow-color);
	opacity:1;
	transition: all 0.3s ease;
}
/* Smaller input boxes */
input.form-control {
	margin: 0 auto;
	padding: 10px;
	font-size: 0.9rem;
}

/* Card styling - make the cards smaller and rectangular */
.card {
	width: 100%;
	max-width: 500px; /* Limit the card width */
	border-radius: 15px; /* Add rounded corners */
	overflow: hidden; /* Prevent content from overflowing the card */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */

	.btn {
		transition: background-color 0.3s ease, transform 0.3s ease;
	}
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center; /* Center-align content */
	padding: 15px;
	position: relative;
}

.flip-h {
	transform: scaleX(-1);
}


@keyframes move-sky {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(60%);
	}
}

.pipes-container {

	gap: 35%;
	bottom:0;
}

.pipe {
	height: 12em;
}

.pipe-content {
	position: absolute;
	bottom: 6em;
	height: 5em;
	transition: bottom 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.logo {
    width: 200px; /* Scales properly on all devices */
    height: auto;

}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
}


footer {
	height: 50px;
	background-image: url(/assets/textures/floor.png);
	background-repeat: repeat;
	background-size: 80px 80px;
}

